html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
}

#flexbox {
    height: 85vh;
    width: 75vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid indianred;
    margin: auto;
    margin-top: 5vh;
}

#menu {
    height: 20%;
    width: 100%;
    border: none;
    border-bottom: 5px groove indigo;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
}

#menu a {
    text-decoration: none;
    margin: 10px 0px;
    transition: all 200ms ease-in;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    background: lightsalmon;
    text-align: center;
    color: darkred;
}

#menu a:hover {
    color: white;
    background: indianred;
}

#content {
    text-align: justify;
    padding: 20px;
    font-family: sans-serif;
}